:root{
    --color-white: #FFFFFF;
    --color-light0: #EDEFEA;
    --color-light1: #DADED4;
    --color-light2: #A3BCB6;
    --color-dark1: #39603D;
    --color-dark2: #3C404D;
    --color-black: #000000;
}

.event-main {
    max-width: 600px;
    min-width: 600px;
    background-color: #EDEFEA;
    border: 2px solid var(--color-dark1);
    padding: 16px;
    margin-bottom: 48px; 
    box-shadow: 0px 0px 12px 5px rgba(50, 50, 50, 0.25);
    /*box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);*/
    display: grid;
}

.event-card-hash {
    color: var(--color-light2);
    text-align: left;
    margin-bottom: 0;
    font-size: 12px;
}

.event-card-title {
    color: var(--color-dark2);
    /* text-align: left; */
    margin-top: 0;
    font-family: "Montserrat";
    font-weight: 600;
}