{% extends "layout.html" %}

{% block title %}
    Time Slots
{% endblock %}

{% block main %}
    <form action="/create_slots" method="post">
        {% for slot in slots %}
            <h3>Slot {{ loop.index }}</h3>
            <label for="{{ slot.id }}.start">Start Time</label>
            <input type="time" name="{{ slot.id }}.start">
            <label for="{{ slot.id }}.end">End Time</label>
            <input type="time" name="{{ slot.id }}.end">
        {% endfor %}
        <hr>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}