{% extends "layout.html" %}

{% block title %}
    Create Event
{% endblock %}

{% block head %}
    <link href="/static/create.css" rel="stylesheet">   
{% endblock %}

{% block main %}
    <form action="/create" class="center" method="post">
        <div class="create-event-grid">
            <div class="form-group a1">
                <input autocomplete="off" autofocus class="input-loud1 w400" name="name" maxlength="50" placeholder="Event Name" required type="text">
            </div>
            <div class="form-group b1">
                <!-- <input autocomplete="off" class="input-loud1 w400 b1-box" name="description" placeholder="Event Description" required type="text"> -->
                <textarea class="input-loud1 w400 b1-box" name="description" rows="4" autocomplete="off" required type="text" placeholder="Event Description"></textarea>
            </div>
            <div class="form-group c1">
                <input autocomplete="off" class="input-loud1" name="date" placeholder="" type="date" required>
            </div>
            <div class="c2">
                <label for="num_slots" class="text-quiet">Number of slots:</label>
            </div>
            <input type="number" class="input-loud1 c3" name="num_slots" min="1" max="50">
            <div class="hr"><hr></div>
            <div class="two-buttons d1">
                <div class="row">
                    <a class="button-quiet1 button-width1 button-link-quiet1" href="/">Cancel</a>        
                    <button class="button-loud1 button-width1" type="submit">Create</button>        
                </div>
            </div>
        </div>
    </form>
{% endblock %}