{% extends "layout.html" %}

{% block title %}
    Time Slots
{% endblock %}

{% block main %}
    <form action="/create_slots" method="post">
        {% for slot in slots %}
            <label for="slot{{ slot.id }}_start">Slot {{ loop.index }} Start Time</label>
            <input type="time" name="slot{{ slot.id }}_start">
            <label for="slot{{ slot.id }}_end">Slot {{ loop.index }} End Time</label>
            <input type="time" name="slot{{ slot.id }}_end">
            <hr>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}