{% extends "layout.html" %}

{% block title %}
    Created events
{% endblock %}

{% block head %}
    <link href="/static/cards.css" rel="stylesheet">   
{% endblock %}

{% block main %}
    <div class="center">
        <h1 class="category-header">Upcoming</h1>
        {% if not events|length %}
            <p>No upcoming events</p>
        {% endif %}
        {% for event in events %}
            <div class="event-main">
                <div class="card-top">
                    <div class="card-top-leftright">
                        <div class="event-card-hash">{{ event.hash }}</div>
                        <div class="event-index-attending">Hosting</div>
                    </div> 
                    <h2 class="event-card-title">{{ event.eventname }}</h2>
                    <p class="event-card-datetime">{{ event. weekday }} {{ event.date }}, {{ event.time_event_start }} - {{ event.time_event_end }}</p>
                </div>
                <div class="card-middle">
                    <p class="event-card-description">{{ event.description }}</p>
                </div>
                <p class="event-card-slots">{{ event.slots_full }} / {{ event.slots_total }} slots filled</p>

                <div class="two-buttons d1">
                    <form>
                        <button type="button" class="button-delete1 button-width1" data-toggle="modal" data-target="#confirm_delete_{{ event.id }}">
                            Delete
                        </button>
                    </form>
                    <form action="/view/{{ event.hash }}" method="get">
                        <input type=submit value="View" class="button-loud1 button-width1">
                    </form>
                </div>
                <!-- Modal -->
                <div class="modal fade"  id="confirm_delete_{{ event.id }}"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete event</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="border-bottom: 1px solid #dee2e6;">
                                Are you sure you want to delete the event "{{ event.eventname }}" on {{ event.date }}?
                            </div>
                            <div class="modal-footer two-buttons" style="margin-left: auto; border-top: none;" b>
                                <button type="button" class="button-loud1" data-dismiss="modal">Cancel</button>
                                <form action="/delete_from_created/{{ event.id }}" method="post" style="padding-left: 8px;">
                                    <button type="submit" class="button-delete1">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        {% endfor %}
        <h1 class="category-header">Past</h1>
        {% if not pastmeet|length %}
            <p>No past events</p>
        {% endif %}
        {% for event in pastmeet %}
            <div class="event-main">
                <div class="card-top">
                    <div class="card-top-leftright">
                        <div class="event-card-hash">{{ event.hash }}</div>
                        <div class="event-index-attending">Hosting</div>
                    </div>
                    <h2 class="event-card-title">{{ event.eventname }}</h2>
                    <p class="event-card-datetime">{{ event.weekday }} {{ event.date }}, {{ event.time_event_start }} - {{ event.time_event_end }}</p>
                </div>
                <div class="card-middle">
                    <p class="event-card-description">{{ event.description }}</p>
                </div>
                <p class="event-card-slots">{{ event.slots_full }} / {{ event.slots_total }} slots filled</p>
                <div class="two-buttons d1">
                    <form>
                        <button type="button" class="button-delete1 button-width1" data-toggle="modal" data-target="#confirm_delete_{{ event.id }}">
                            Delete
                        </button>
                    </form>
                    <form action="/view/{{ event.hash }}" method="get">
                        <input type=submit value="View" class="button-loud1 button-width1">
                    </form>
                </div>
                <!-- Modal -->
                <div class="modal fade"  id="confirm_delete_{{ event.id }}"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete event</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="border-bottom: 1px solid #dee2e6;">
                                Are you sure you want to delete the event "{{ event.eventname }}" on {{ event.date }}?
                            </div>
                            <div class="modal-footer two-buttons" style="margin-left: auto; border-top: none;" b>
                                <button type="button" class="button-loud1" data-dismiss="modal">Cancel</button>
                                <form action="/delete_from_created/{{ event.id }}" method="post" style="padding-left: 8px;">
                                    <button type="submit" class="button-delete1">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}
