{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block head %}
    <link href="/static/cards.css" rel="stylesheet">   
{% endblock %}

{% block main %}
<div class="center">
<h1 class="category-header">Edit Event</h1>
<div class="event-main">
    <div id="JSnameDiv">
        <h3>Event</h3>
        <!-- {{ event }} -->
            <form class="edit-event-grid" action="/edit/{{ event.hash }}" method="post">
                <input autocomplete="off" class="input-loud1 edit-grid-title" name="name" value="{{ event.eventname }}" type="text">
                <textarea class="input-loud1 edit-grid-description" name="description" rows="4">{{ event.description }}</textarea>
                <input autocomplete="off" class="input-loud-datetime edit-grid-date" name="date" value="{{ event.date }}" type="date">
                <button class="button-loud1 edit-grid-submit no-margin button-width1" type="submit">Submit</button>
            </form>
        <hr>
        <h3>Slots</h3>
        <div id="edit-slots-overall">
            {% for slot in slots %}
                <!-- {{ slot }} -->
                <div class="slot-bucket">
                    <form id="form-{{ slot.id }}" class="edit-slots-grid" action="/slot_edit/{{ slot.id }}" method="post">
                        <input class="edit-slots-time-start input-loud-datetime" type="time" name="{{ slot.id }}.time_start" value="{{ slot.time_start }}">
                        <input class="edit-slots-time-end input-loud-datetime" type="time" name="{{ slot.id }}.time_end" value="{{ slot.time_end }}">
                        <!-- move into here -->
                        <div class="no-margin button-width1" id="edit-slots-delete" id="{{ slot.id }}-delete-insert"></div>
                        <button class="button-loud1 edit-slots-submit no-margin button-width1" type="submit">Submit</button>
                    </form>
                    <!-- move from here -->
                    <div id="{{ slot.id }}-delete-source">
                        <form action="/slot_delete/{{ slot.id }}" method="post">
                            <!-- <input type=submit class="button-delete1 no-margin button-width1" value="Delete"> -->
                            <button type="button" class="button-delete1 no-margin button-width1" data-toggle="modal" data-target="#confirm_delete_slot_{{ slot.id }}">
                                Delete
                            </button>
                        </form>
                    </div>
                    <hr>
                    
                    <!-- Code that does the moving -->
                    <!-- I'm so, so sorry -->
                    <div style="display: none">{{ slot.id }}</div>
                    <script>
                        var indexnum = document.getElementById("JSnameDiv").lastElementChild.lastElementChild.lastElementChild.previousElementSibling.innerHTML;
                        console.log("Moving edit button for slot " + indexnum);
                        document.getElementById('form-' + indexnum).lastElementChild.previousElementSibling.appendChild(
                            document.getElementById(indexnum + '-delete-source')
                        );
                    </script>

                    <div class="modal fade"  id="confirm_delete_slot_{{ slot.id }}"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete event</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="border-bottom: 1px solid #dee2e6;">
                                    Are you sure you want to delete the slot from {{ slot.time_start }} until {{ slot.time_end }}?
                                </div>
                                <div class="modal-footer two-buttons" style="margin-left: auto; border-top: none;" b>
                                    <button type="button" class="button-loud1" data-dismiss="modal">Cancel</button>
                                    <form action="/delete_from_created/{{ event.id }}" method="post" style="padding-left: 8px;">
                                        <button type="submit" class="button-delete1">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            {% endfor %}
        </div>
        <h3>Add Slot</h3>
        <form action="/slot_add/{{ event.hash }}" method="post" class="add-slot-grid">
            <label for="slot_start" class="add-slot-start-label">Start:</label>
            <input type="time" class="add-slot-start-time input-loud-datetime" name="slot_start">
            <label for="slot_end" class="add-slot-end-label">End:</label>
            <input type="time" class="add-slot-end-time input-loud-datetime" name="slot_end">
            <button class="button-loud1 add-slot-button no-margin button-width1" type="submit">Create</button>
        </form>

        <hr>
        <form action="/view/{{ event.hash }}" method="get" class="two-buttons">
            <input type=submit class="button-loud1 button-width1" value="Back">
        </form>
    </div>
</div>
</div>
{% endblock %}