{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <h3>Event</h3>
    {{ event }}
    <form action="/edit/{{ event.hash }}" method="post">
        <input autocomplete="off" class="form-control" name="name" value="{{ event.eventname }}" type="text">
        <input autocomplete="off" class="form-control" name="description" value="{{ event.description }}" type="text">
        <input autocomplete="off" class="form-control" name="date" value="{{ event.date }}" type="date">
        <button class="btn btn-primary" type="submit">Submit Changes</button>
    </form>
    <h3>Slots</h3>
    {% for slot in slots %}
        {{ slot }}
        <form action="/slot_edit/{{ slot.id }}" method="post">
            <input type="time" name="{{ slot.id }}.time_start" value="{{ slot.time_start }}">
            <input type="time" name="{{ slot.id }}.time_end" value="{{ slot.time_end }}">
            <button class="btn btn-secondary" type="submit">Submit Changes</button>
        </form>
        <!-- TKTK switch delete to a modal later! -->
        <form action="/slot_delete/{{ slot.id }}" method="post">
            <input type=submit class="btn btn-secondary" value="Delete Slot">
        </form>
        <hr>
    {% endfor %}
    <h3>Add Slot</h3>
    <form action="/slot_add/{{ event.hash }}" method="post">
        <label for="slot_start">Start Time</label>
        <input type="time" name="slot_start">
        <label for="slot_end">End Time</label>
        <input type="time" name="slot_end">
        <button class="btn btn-secondary" type="submit">Create New Slot</button>
    </form>
{% endblock %}