{% extends "layout.html" %}

{% block title %}
    Joined events
{% endblock %}

{% block main %}
    <h3>Future events</h3>
    {% for event in events %}
        <div class="event-main">
            <p>{{ event.hash }}</p>
            <p>{{ event.eventname }}</p>
            <p>{{ event.date }}</p>
            <p>{{ event.description }}</p>
            <p>Your Slot: {{ event.time_start }} - {{ event.time_end }}</p>
            <p>event: {{ event.time_event_start }} - {{ event.time_event_end }}</p>
            <form action="/view/{{ event.hash }}" method="get">
                <input type=submit value="View">
            </form>
        </div>
    {% endfor %}
    <h3>Past events</h3>
    {% for event in pastmeet %}
        <div class="event-main">
            <p>{{ event.hash }}</p>
            <p>{{ event.eventname }}</p>
            <p>{{ event.date }}</p>
            <p>{{ event.description }}</p>
            <p>Your Slot: {{ event.time_start }} - {{ event.time_end }}</p>
            <p>event: {{ event.time_event_start }} - {{ event.time_event_end }}</p>
            <form action="/view/{{ event.hash }}" method="get">
                <input type=submit value="View">
            </form>
        </div>
    {% endfor %}
{% endblock %}