{% extends "layout.html" %}

{% block title %}
    Joined Meetings
{% endblock %}

{% block main %}
    {% for meeting in meetings %}
        <div class="event-main">
            <p>{{ meeting.hash }}</p>
            <p>{{ meeting.eventname }}</p>
            <p>{{ meeting.date }}</p>
            <p>{{ meeting.description }}</p>
            <p>{{ meeting.time_start }} - {{ meeting.time_end }}</p>
            <p>{{ meeting.time_meeting_start }} - {{ meeting.time_meeting_end }}</p>
            <form action="/view/{{ meeting.hash }}" method="get">
                <input type=submit value="View">
            </form>
        </div>
    {% endfor %}
{% endblock %}