{% extends "layout.html" %}

{% block title %}
    Joined events
{% endblock %}

{% block head %}
    <link href="/static/cards.css" rel="stylesheet">   
{% endblock %}

{% block main %}
<div class="center">
    <h1 class="category-header">Upcoming</h1>
    {% if not events|length %}
        <p>No upcoming events</p>
    {% endif %}
    {% for event in events %}
        <div class="event-main">
            <div class="card-top">
                <div class="card-top-leftright">
                    <div class="event-card-hash">{{ event.hash }}</div>
                    <div class="event-index-attending">Attending</div>
                </div>
                <h2 class="event-card-title">{{ event.eventname }}</h2>
                <p class="m0b">{{ event.weekday }}, {{ event.date_f }}</p>
                <p class="event-card-datetime">{{ event.time_event_start }} - {{ event.time_event_end }}</p>
                <p>{{ event.username }}</p>
            </div>
            <div class="card-middle">
                <p class="event-card-description">{{ event.description }}</p>
            </div>
            <div class="card-middle">
                <p class="event-card-description">Hosted by: {{ event.owner }}</p>
            </div>
            <p class="event-card-slots">Your Slot: {{ event.time_start }} - {{ event.time_end }}</p>
            <form action="/view/{{ event.hash }}" method="get" class="two-buttons d1">
                <input class="button-loud1 button-width1" type=submit value="View">
            </form>
        </div>
    {% endfor %}
    <h1 class="category-header">Past</h1>
    {% if not pastmeet|length %}
        <p>No past events</p>
    {% endif %}
    {% for event in pastmeet %}
        <div class="event-main">
            <div class="card-top">
                <div class="card-top-leftright">
                    <div class="event-card-hash">{{ event.hash }}</div>
                    <div class="event-index-attending">Attending</div>
                </div> 
                <h2 class="event-card-title">{{ event.eventname }}</h2>
                <p class="m0b">{{ event.weekday }}, {{ event.date_f }}</p>
                <p class="event-card-datetime">{{ event.time_event_start }} - {{ event.time_event_end }}</p>
            </div>
            <div class="card-middle">
                <p class="event-card-description">{{ event.description }}</p>
            </div>
            <div class="card-middle">
                <p class="event-card-description">Hosted by: {{ event.owner }}</p>
            </div>
            <p class="event-card-slots">Your Slot: {{ event.time_start }} - {{ event.time_end }}</p>
            <form action="/view/{{ event.hash }}" method="get" class="two-buttons d1">
                <input class="button-loud1 button-width1" type=submit value="View">
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}