{% extends "layout.html" %}

{% block title %}
    View
{% endblock %}

{% block head %}
    <link href="/static/cards.css" rel="stylesheet">   
{% endblock %}

{% block main %}
<h1 class="category-header">View Event</h1>
<div class="event-main center-self">
    <div class="card-top">
        <div class="card-top-leftright">
            <div class="event-card-hash">{{ event.hash }}</div>
            <div class="event-index-attending">{{ event.type }}</div>
        </div>
        <h2 class="event-card-title">{{ event.eventname }}</h2>
        <p class="event-card-datetime">{{ event.weekday }} {{ event.date }}, {{ event.time_event_start }} - {{ event.time_event_end }}</p>
    </div>
    <div class="card-middle">
        <p class="event-card-description">{{ event.description }}</p>
    </div>
    {% if event.owner_id != user %}
    <div class="card-middle">
        <p class="event-card-description">Scheduled by: {{ owner }}</p>
    </div>
    {% endif %}
    {% if event.owner_id == user %}
    <div class="two-buttons m32b">
        <div class="row">
            <form>
                <button type="button" class="button-delete1 button-width1 m8s" data-toggle="modal" data-target="#confirm_delete_{{ event.id }}">
                    Delete
                </button>
            </form>
            <form action="/edit/{{ event.hash }}" method="get">
                <input type="submit" class="button-loud1 button-width1 m8s" value="Edit">
            </form>  
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade"  id="confirm_delete_{{ event.id }}"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="border-bottom: 1px solid #dee2e6;">
                    Are you sure you want to delete the event "{{ event.eventname }}" on {{ event.date }}?
                </div>
                <div class="modal-footer two-buttons" style="margin-left: auto; border-top: none;" b>
                    <button type="button" class="button-loud1" data-dismiss="modal">Cancel</button>
                    <form action="/delete_from_created/{{ event.id }}" method="post" style="padding-left: 8px;">
                        <button type="submit" class="button-delete1">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>  
    {% endif %}
    <h2 class="event-card-title m32top">Slots</h2>
    {% for slot in slots %}
    <div class="view-slot-grid">
        <div class="view-slot-time-start">{{ slot.time_start }}</div>
        <div class="view-slot-dash">-</div>
        <div class="view-slot-time-end">{{ slot.time_end}}</div>
        
        <!-- USER IS THE ADMIN OF THE EVENT -->
        {% if event.owner_id == user %}
            {% if slot.user_id != 0 %}
                <div class="view-slot-username">{{ slot.username }}</div>
                <!-- <form action="/remove/{{ event.hash }}/{{ slot.user_id }}" method="post">
                    <input type="submit" class="button-delete1 button-width1 no-margin" value="Cancel this slot">
                </form> -->
                <button type="button" class="button-delete1 button-width1 no-margin" data-toggle="modal" data-target="#remove_{{ event_hash }}_{{ slot.user_id }}">
                    Remove
                </button>
                <div class="modal fade"  id="remove_{{ event_hash }}_{{ slot.user_id }}"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Remove Attendee</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="border-bottom: 1px solid #dee2e6;">
                                Are you sure you want to remove {{ slot.username }} from this slot?
                            </div>
                            <div class="modal-footer two-buttons" style="margin-left: auto; border-top: none;" b>
                                <button type="button" class="button-loud1" data-dismiss="modal">Cancel</button>
                                <form action="/remove/{{ event.hash }}/{{ slot.user_id }}" method="post" style="padding-left: 8px;">
                                    <button type="submit" class="button-delete1">Confirm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="view-slot-username">-</div>
            {% endif %}
        
        <!-- USER IS NOT THE ADMIN OF THE EVENT -->
        {% else %}
            {% if slot.user_id == 0 %}
                <div class="view-slot-username">-</div>
                <form action="/join/{{ event.hash }}/{{ slot.id }}" method="post">
                    <input type="submit" class="button-loud1 button-width1 no-margin" value="Pick this slot">
                </form>
            {% elif slot.user_id == user %}
                <div class="view-slot-username"><strong>{{ slot.username }}</strong></div>
                <!-- give the slot a differenent div class that overrides its bg-color! -->
                <form action="/leave/{{ event.hash }}" method="post">
                    <input type="submit" class="button-delete1 button-width1 no-margin" value="Cancel this slot">
                </form>
            {% else %}
                <div class="view-slot-username">{{ slot.username }}</div>

            {% endif %}
        
        {% endif %}
    </div>
    <hr>
    {% endfor %}
    <form action="/home" method="get">
        <input type="submit" class="button-loud1 button-width1 center-self" value="Done">
    </form>
</div>
{% endblock %}