{% extends "layout.html" %}

{% block title %}
    View
{% endblock %}

{% block main %}
    <h3>Event</h3>
        {{ event }}
        <hr>
        ID: {{ event.hash }}
        <hr>
        {{ event.eventname }}
        <hr>
        Description: {{ event.description }}
        <hr>
        Schduled for: {{ event.date }}
        <hr>
        Scheduled by {{ owner }}
    <h3>Slots</h3>
    {% for slot in slots %}
        {{ slot.id }} <!-- id is just for debugging, delete later -->
        {{ slot.time_start }} - {{ slot.time_end}}
        {% if slot.user_id == 0 %}
            - {{ event.hash }} - {{ slot.id }}
            <form action="/join/{{ event.hash }}/{{ slot.id }}" method="post">
                <input type="submit" value="Pick this slot">
            </form>
        {% else %}
            {{ slot.username }}
        {% endif %}
        <hr>
    {% endfor %}
    <form action="/home" method="get">
        <input type="submit" value="Done">
    </form>
{% endblock %}