{% extends "layout.html" %}

{% block title %}
    View
{% endblock %}

{% block main %}
    <h3>Event</h3>
        {{ event }}
        <hr>
        ID: {{ event.hash }}
        <hr>
        {{ event.eventname }}
        <hr>
        Description: {{ event.description }}
        <hr>
        Schduled for: {{ event.date }}
        <hr>
        Scheduled by {{ owner }}
    <h3>Slots</h3>
    {% for slot in slots %}
        <div id="event-slot">
            <p id="slot-time">{{ slot.time_start }} - {{ slot.time_end }}</p>
            {% if slot.user_id == 0 %}
                <p id="slot-attendee">This slot is vacant!</p>
            {% else %}
                <p id="slot-attendee">{{ slot.user_id }}</p>
            {% endif %}
            <!-- <p id="slot-attendee">{{ slot.user_id }}</p> -->
        </div>
        <!-- {{ slot }} -->
    {% endfor %}
{% endblock %}